In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [5]:
df = pd.read_clipboard() #方法解释：从剪切板中读取数据

In [6]:
df

   Sep 2018 Sep 2017  Change Programming Language  Ratings Change.1
0         1        1     NaN                 Java  17.436%   +4.75%
1         2        2     NaN                    C  15.447%   +8.06%
2         3        5  change               Python   7.653%   +4.67%
3         4        3  change                  C++   7.394%   +1.83%
4         5        8  change    Visual Basic .NET   5.308%   +3.33%
5         6        4  change                   C#   3.295%   -1.48%
6         7        6  change                  PHP   2.775%   +0.57%
7         8        7  change           JavaScript   2.131%   +0.11%
8         9        -  change                  SQL   2.062%   +2.06%
9        10       18  change          Objective-C   1.509%   +0.00%

In [7]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.columns #列名

Index(['Sep 2018', 'Sep 2017', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [11]:
df.Ratings #某一列数据

0    17.436%
1    15.447%
2     7.653%
3     7.394%
4     5.308%
5     3.295%
6     2.775%
7     2.131%
8     2.062%
9     1.509%
Name: Ratings, dtype: object

In [14]:
#获取几列数据 组成DataFrame
dt_new = DataFrame(df,columns={'Sep 2018','Programming Language	'})
dt_new

   Programming Language\t  Sep 2018
0                     NaN         1
1                     NaN         2
2                     NaN         3
3                     NaN         4
4                     NaN         5
5                     NaN         6
6                     NaN         7
7                     NaN         8
8                     NaN         9
9                     NaN        10

In [15]:
df['Programming Language']

0                 Java
1                    C
2               Python
3                  C++
4    Visual Basic .NET
5                   C#
6                  PHP
7           JavaScript
8                  SQL
9          Objective-C
Name: Programming Language, dtype: object

In [16]:
type(df['Programming Language'])

pandas.core.series.Series

In [19]:
#添加一个原本不存在的列
dt_new2 = DataFrame(df,columns={'Sep 2018','Programming Language','xyt'})
dt_new2

   xyt  Sep 2018 Programming Language
0  NaN         1                 Java
1  NaN         2                    C
2  NaN         3               Python
3  NaN         4                  C++
4  NaN         5    Visual Basic .NET
5  NaN         6                   C#
6  NaN         7                  PHP
7  NaN         8           JavaScript
8  NaN         9                  SQL
9  NaN        10          Objective-C

In [21]:
#为一列赋值
dt_new2['xyt'] = range(0,10)
dt_new2

   xyt  Sep 2018 Programming Language
0    0         1                 Java
1    1         2                    C
2    2         3               Python
3    3         4                  C++
4    4         5    Visual Basic .NET
5    5         6                   C#
6    6         7                  PHP
7    7         8           JavaScript
8    8         9                  SQL
9    9        10          Objective-C

In [23]:
dt_new2['xyt'] = np.arange(10)
dt_new2

   xyt  Sep 2018 Programming Language
0    0         1                 Java
1    1         2                    C
2    2         3               Python
3    3         4                  C++
4    4         5    Visual Basic .NET
5    5         6                   C#
6    6         7                  PHP
7    7         8           JavaScript
8    8         9                  SQL
9    9        10          Objective-C

In [25]:
dt_new2['xyt'] = pd.Series(np.arange(10))
dt_new2

   xyt  Sep 2018 Programming Language
0    0         1                 Java
1    1         2                    C
2    2         3               Python
3    3         4                  C++
4    4         5    Visual Basic .NET
5    5         6                   C#
6    6         7                  PHP
7    7         8           JavaScript
8    8         9                  SQL
9    9        10          Objective-C

In [ ]:
#为一列中的某几个赋值