In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
data = {'Country':['Belgium','India','Brazil'],'Capital':['Brussels','New Delhi','Brasilia'],'Population':[11190846,1303171035,207847528]}

# Series

In [3]:
s1 = pd.Series(data['Country'],index=['A','B','C'])

In [4]:
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [5]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [6]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

# DataFrame

In [7]:
df1 = pd.DataFrame(data)

In [8]:
df1 # 一个DataFrame是由很多Series构成的

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [9]:
df1.iterrows() #在python中 generator类型 都可以遍历

In [10]:
for row in df1.iterrows():
    print(row),print(type(row)),print(len(row))

(0, Capital       Brussels
Country        Belgium
Population    11190846
Name: 0, dtype: object)
<class 'tuple'>
2
(1, Capital        New Delhi
Country            India
Population    1303171035
Name: 1, dtype: object)
<class 'tuple'>
2
(2, Capital        Brasilia
Country          Brazil
Population    207847528
Name: 2, dtype: object)
<class 'tuple'>
2

In [15]:
for row in df1.iterrows():
    print(row[0])
    print('--------')
    print(row[1])
    print('------',type(row[1]))
    break
#行是tuple(元组 和 list很像，但是不能修改)类型  row[1]是series

0
--------
Capital       Brussels
Country        Belgium
Population    11190846
Name: 0, dtype: object
------ <class 'pandas.core.series.Series'>

In [17]:
#根据Serise 创建DataFrame
s1 = pd.Series(data['Capital'])
s2 = pd.Series(data['Country'])
s3 = pd.Series(data['Population'])

In [18]:
df_new = DataFrame([s1,s2,s3],index=['a','b','c'])
#df_new = df_new.T
df_new.T

           a        b           c
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [19]:
df1

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528