In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# series reindex

In [2]:
s1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s1.reindex(index=['a','b','c','d','e'])

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [9]:
#填充多余行
s1.reindex(index=['A','B','C','D','E'],fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [10]:
s2 = Series(['A','B','C'],index=[1,5,10])
s2

1     A
5     B
10    C
dtype: object

In [12]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# dataframe reindex

In [17]:
df1 = DataFrame(np.random.rand(25).reshape(5,5),index=['A','B','D','E','F'],columns=['c1','c2','c3','c4','c5'])
df1

         c1        c2        c3        c4        c5
A  0.574782  0.305233  0.069560  0.790581  0.890432
B  0.346621  0.726660  0.096183  0.745076  0.802638
D  0.681337  0.899014  0.603121  0.808114  0.888865
E  0.925216  0.227321  0.078262  0.298015  0.527505
F  0.637246  0.163863  0.228054  0.300819  0.333905

In [18]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.574782  0.305233  0.069560  0.790581  0.890432
B  0.346621  0.726660  0.096183  0.745076  0.802638
C       NaN       NaN       NaN       NaN       NaN
D  0.681337  0.899014  0.603121  0.808114  0.888865
E  0.925216  0.227321  0.078262  0.298015  0.527505
F  0.637246  0.163863  0.228054  0.300819  0.333905

In [19]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.574782  0.305233  0.069560  0.790581  0.890432 NaN
B  0.346621  0.726660  0.096183  0.745076  0.802638 NaN
D  0.681337  0.899014  0.603121  0.808114  0.888865 NaN
E  0.925216  0.227321  0.078262  0.298015  0.527505 NaN
F  0.637246  0.163863  0.228054  0.300819  0.333905 NaN

In [20]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.574782  0.305233  0.069560  0.790581  0.890432 NaN
B  0.346621  0.726660  0.096183  0.745076  0.802638 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.681337  0.899014  0.603121  0.808114  0.888865 NaN
E  0.925216  0.227321  0.078262  0.298015  0.527505 NaN
F  0.637246  0.163863  0.228054  0.300819  0.333905 NaN

# 使用reindex去删除某一行

In [23]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [24]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.574782  0.305233  0.069560  0.790581  0.890432
B  0.346621  0.726660  0.096183  0.745076  0.802638

# drop

In [25]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [28]:
df1.drop('A',axis=0) #参数说明 axis=0 行 axis=1 列

         c1        c2        c3        c4        c5
B  0.346621  0.726660  0.096183  0.745076  0.802638
D  0.681337  0.899014  0.603121  0.808114  0.888865
E  0.925216  0.227321  0.078262  0.298015  0.527505
F  0.637246  0.163863  0.228054  0.300819  0.333905

In [31]:
df1.drop('c2',axis=1)

         c1        c3        c4        c5
A  0.574782  0.069560  0.790581  0.890432
B  0.346621  0.096183  0.745076  0.802638
D  0.681337  0.603121  0.808114  0.888865
E  0.925216  0.078262  0.298015  0.527505
F  0.637246  0.228054  0.300819  0.333905